.progress-bar::-webkit-progress-bar {
  background-color: var(--colour-grey-20);
}

.progress-bar.progress-bar-error::-webkit-progress-value {
  background-color: var(--colour-coral-140);
}

.progress-bar.progress-bar-warning::-webkit-progress-value {
  background-color: var(--colour-yellow-140);
}